@use '../mixins' as *;

.game-load {
    @include center-elements;
    flex-direction: column;
    justify-content: space-evenly;
    // border: var(--border-light);
    flex-grow: 1;
    z-index: 2;
    @include fadeInScale;

    @include media(desktop) {
        max-width: 70rem;
        width: 100%;
        margin: 0 auto;
    }

    .slider-button-container {
        @include center-elements;
        flex-direction: column;
        gap: var(--space-xxxl);
        width: 200px;

        @include media(desktop) {
            width: 300px;
        }
        @include media(tablet) {
            width: 250px;
        }
    }

    // .custom-slider .MuiSlider-valueLabel {
    //     font-family: 'Bangers', sans-seif;
    //     font-size: var(--font-size-xl);
    //     background-color: transparent;
    // }
    .custom-slider .MuiSlider-track {
        height: 10px;
        background-color: #bebebec0;
        border: none;
    }
    .custom-slider .MuiSlider-rail {
        height: 10px;
        background-color: #bebebec0;
        // border: none;
        opacity: 1;
    }
    .custom-slider .MuiSlider-thumb {
        height: 40px;
        width: 40px;
        background-color: #F1CF00;
        // border: solid 2px black;
        filter: brightness(200%);
        -webkit-filter: brightness(200%); /* For Safari/Older WebKit-based browsers */
    }

    .pokemon-size-label {
        @include center-elements;
        @include size-elements(300px, 50px);
        text-align: center;
        font-size: var(--font-size-xxxl);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4);
        -webkit-text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6), 0 0 15px rgba(255, 255, 255, 0.4); /* For Safari/Older WebKit-based browsers */

        @include media(desktop) {
            font-size: var(--font-size-xxxxxl);
        }
        // border: solid 2px black;
    }
}
